@font-face {
  font-family: "yfFont"; /* Project id 3347888 */
  src: url('iconfont.woff2?t=1650528771167') format('woff2'),
       url('iconfont.woff?t=1650528771167') format('woff'),
       url('iconfont.ttf?t=1650528771167') format('truetype');
}

.yfFont {
  font-family: "yfFont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bg-guapai1:before {
  content: "\e611";
}

.icon-bianji:before {
  content: "\e612";
}

.icon-caigou:before {
  content: "\e613";
}

.icon-chakanxiangqing:before {
  content: "\e614";
}

.icon-biaotiqian:before {
  content: "\e615";
}

.icon-dingjixinzeng:before {
  content: "\e616";
}

.icon-dayin:before {
  content: "\e617";
}

.icon-conglishifuzhi:before {
  content: "\e618";
}

.icon-fengji:before {
  content: "\e619";
}

.icon-fujian:before {
  content: "\e61a";
}

.icon-hetong:before {
  content: "\e61b";
}

.icon-genmulu:before {
  content: "\e61c";
}

.icon-gongyingshangpingjia:before {
  content: "\e61d";
}

.icon-lijishenhe:before {
  content: "\e61e";
}

.icon-fengchang:before {
  content: "\e61f";
}

.icon-liandongchulidubandan:before {
  content: "\e620";
}

.icon-lixiang:before {
  content: "\e621";
}

.icon-mima:before {
  content: "\e622";
}

.icon-jidianxianlu:before {
  content: "\e623";
}

.icon-fuzhi:before {
  content: "\e624";
}

.icon-niandutouziyusuan:before {
  content: "\e625";
}

.icon-nianduzijinyusuan:before {
  content: "\e626";
}

.icon-piliangshengcheng:before {
  content: "\e627";
}

.icon-ruzhangfukuanbianji:before {
  content: "\e628";
}

.icon-a-shanchukaobei:before {
  content: "\e629";
}

.icon-shishi:before {
  content: "\e62a";
}

.icon-shanchu:before {
  content: "\e62b";
}

.icon-quanping:before {
  content: "\e62c";
}

.icon-tixing:before {
  content: "\e62d";
}

.icon-shengyazhan:before {
  content: "\e62e";
}

.icon-touziyusuanyiyong:before {
  content: "\e62f";
}

.icon-touziyusuan:before {
  content: "\e630";
}

.icon-tianjiazuoyeneirong:before {
  content: "\e631";
}

.icon-wangongzongjie:before {
  content: "\e632";
}

.icon-xiajimulu:before {
  content: "\e633";
}

.icon-waisongxianlu:before {
  content: "\e634";
}

.icon-xiazai:before {
  content: "\e635";
}

.icon-touziyusuankeyong:before {
  content: "\e636";
}

.icon-xinzeng:before {
  content: "\e637";
}

.icon-yonghu:before {
  content: "\e638";
}

.icon-yusuankemuguanli:before {
  content: "\e639";
}

.icon-xiangbian:before {
  content: "\e63a";
}

.icon-changtingtixing:before {
  content: "\e63b";
}

.icon-zijinyusuankeyong:before {
  content: "\e63c";
}

.icon-zuzhidierji:before {
  content: "\e63d";
}

.icon-zuzhijigoudiyiji:before {
  content: "\e63e";
}

.icon-zijinyusuanyiyong:before {
  content: "\e63f";
}

